@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow {
        text-shadow: -4px -3px #000;
    }

    .hover-trigger .hover-target {
        display: none;
    }
    
    .hover-trigger:hover .hover-target {
        display: block;
    }

    #con div {
         /* This timing applies on the way IN */
        transition-timing-function: ease-out;

        /* A litttttle slower on the way in */
        transition: 0.25s;
  
        /* Move into place */
        transform: translateY(0);
    }
    

}